@{
    ViewData["Title"] = "Premios de la Alcancía Ganadora";
}
<div class="row">
    <div class="col-7">
        <h3 class="title">@ViewBag.Title</h3>
    </div>
    <div class="col-5 text-right">
        <a class="btn btn-secondary" title="Mostrar Panel de B&uacute;squeda" data-toggle="collapse" href="#filter-box" role="button" aria-expanded="false" aria-controls="filter-box"><i class="fas fa-search"></i></a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="filter-box" class="bg-light px-2 py-3 collapse show">
            <div class="row">
                <label for="filter" class="col-2 col-sm-1 text-nowrap">Filtro</label>
                <div class="col-10 col-sm-7 col-md-6 col-lg-8">
                    <input type="text" id="filter" class="form-control" />
                </div>
                <div class="col text-right pt-2">
                    <button type="button" class="btn btn-outline-secondary mr-1" id="action-clean">Limpiar</button>
                    <button type="button" class="btn btn-primary mr-2" id="action-filter">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col pt-3">
        <div id="Listado"></div>
    </div>
</div>
<div id="Detail">
    <form>
        <div class="form-horizontal">
            <input id="id" name="id" type="hidden" />
            <input id="new-image" name="new-image" type="hidden" />
            <div class="row">
                <div class="col-7">
                    <div class="row">
                        <div class="col">
                            <label for="name">Nombre</label>
                            <input id="name" name="name" class="form-control" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="description">Descripci&oacute;n</label>
                            <textarea id="description" name="description" class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <input id="points" name="points" type="number" required min="1" />
                        </div>
                        <div class="col pt-4">
                            <label for="enabled">Habilitado</label>
                            <input id="enabled" name="enabled" />
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="text-center">
                        <img id="imageUrl" name="imageUrl" src="../images/no-image.jpg" style="max-width: 330px; max-height: 330px" />
                    </div>
                    <button id="delete-image" class="btn btn-sm btn-outline-secondary mt-2 ml-3 mb-2" type="button"><i class="fas fa-trash-alt"></i> Eliminar Imagen</button>
                    <input type="file" name="files" id="photos" />
                </div>
            </div>
            <div class="row">
                <div class="col text-right pt-2">
                    <button id="cancel-update" class="btn btn-outline-secondary">Cancelar</button>
                    <button id="save-prize" class="btn btn-primary">Guardar</button>
                </div>
            </div>
        </div>
    </form>    
</div>
@section Scripts {
    <script type="text/javascript">
        var urlFilter = "@Url.Action("Filter")",
            urlEdit = "@Url.Action("Edit")",
            urlDelete = "@Url.Action("Delete")",
            urlSaveImage = "@Url.Action("SaveImage")",
            urlDeleteImage = "@Url.Action("RemoveImage")",
            urlImages = "@Url.Content("~/images/piggybank/prizes/")",
            urlNoImage = "@Url.Content("~/images/no-image.jpg")";
    </script>
    <environment include="Development">
        <script src="~/js/areas/marketing/piggybank-prizes.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/marketing/piggybank-prizes.min.js" asp-append-version="true"></script>
    </environment>
}