@{
    ViewData["Title"] = "Logs de Auditoría";
}
<div class="row">
    <div class="col-7">
        <h3 class="title">@ViewBag.Title</h3>
    </div>
    <div class="col-5 text-right">
        <a class="btn btn-secondary d-none" title="Exportar a Excel" role="button" href="#" id="action-excel"><i class="far fa-file-excel"></i></a>
        <a class="btn btn-secondary" title="Mostrar Panel de B&uacute;squeda" data-toggle="collapse" href="#filter-box" role="button" aria-expanded="false" aria-controls="filter-box"><i class="fas fa-search"></i></a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="filter-box" class="bg-light px-2 py-3 collapse show">
            <div class="row">
                <input type="hidden" id="local-user" value="N" />
                <input type="hidden" id="filClients" value="@ViewBag.CardCode" />
                <label for="filUsers" class="col-2 col-md-1 text-nowrap">Usuario</label>
                <div class="col-10 col-md-11 col-lg-5 col-xl-3">
                    <select id="filUsers" style="width: 100%;"></select>
                </div>
                <label for="filSince" class="col-2 col-md-1 text-nowrap">Desde</label>
                <div class="col-10 col-sm-4 col-md-3 col-lg-2">
                    <input id="filSince" style="width: 110px;" />
                </div>
                <label for="filUntil" class="col-2 col-md-1 text-nowrap">Hasta</label>
                <div class="col-10 col-sm-4 col-md-3 col-lg-2">
                    <input id="filUntil" style="width: 110px;" />
                </div>
                <div class="col text-right text-nowrap pt-2">
                    <button type="button" class="btn btn-outline-secondary mr-1" id="action-clean">Limpiar</button>
                    <button type="button" class="btn btn-primary mr-2" id="action-filter">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col pt-3">
        <div id="Listado"></div>
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
		var urlFilter = "@Url.Action("Filter", "AuditLogs")",
            urlExcel = "@Url.Action("ExportExcel", "AuditLogs")",
			urlClients = "@Url.Action("GetClients", "AuditLogs")",
			urlUsers = "@Url.Action("GetUsers", "AuditLogs")";
    </script>
    <environment include="Development">
        <script src="~/js/areas/administration/auditlogs.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/administration/auditlogs.min.js" asp-append-version="true"></script>
    </environment>
}