@model IEnumerable<BEntities.Staff.Replace>
@{
    ViewBag.Title = "Reemplazos";
}
<style type="text/css">
    .not-valid {
        margin: 15px;
        padding: 25px 20px;
        background-color: #BBB;
        font-weight: 600;
        font-size: 1.5rem;
        border-radius: 5px;
    }
</style>
<input type="hidden" id="form-type" value="C" />
<div class="row">
    <div class="col-12 col-sm-7">
        <h3 class="title">@ViewBag.Title</h3>
    </div>
    <div class="col-12 col-sm-5 text-right">
        <a class="btn btn-secondary" title="Mostrar Panel de B&uacute;squeda" data-toggle="collapse" href="#filter-box" role="button" aria-expanded="false" aria-controls="filter-box"><i class="fas fa-search"></i></a>
    </div>
</div>
<div class="row">
    <div class="col">
        <div id="filter-box" class="bg-light px-2 py-3 collapse show">
            <div class="row">
                <label for="FilInitialDate" class="col-2 col-sm-1 text-right text-nowrap">Entre</label>
                <div class="col">
                    <input type="date" id="FilInitialDate" style="width: 105px;" /> &nbsp; y &nbsp;
                    <input type="date" id="FilFinalDate" style="width: 105px;" />
                </div>
                <label for="FilSeller" class="control-label col-2 col-sm-1 col-md-1 col-lg-1 text-right text-nowrap">Ejecutivo</label>
                <div class="col">
                    <input id="FilSeller" class="w-100" />
                </div>
                <label for="FilReplacement" class="control-label col-2 col-sm-1 col-md-1 col-lg-1 text-right text-nowrap">Reemplazo</label>
                <div class="col">
                    <input id="FilReplacement" class="w-100" />
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-outline-secondary mr-1" id="action-clean">Limpiar</button>
                    <button type="button" class="btn btn-primary mr-2" id="action-filter">Buscar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Listado"></div>
<div id="Detail"></div>
@section Scripts {
    <script type="text/javascript">
		var urlFilter = "@Url.Action("Filter", "Replacement")",
			urlEdit = "@Url.Action("Edit", "Replacement")",
			urlDelete = "@Url.Action("Delete", "Replacement")",
			urlSellers = "@Url.Action("GetSellers", "Replacement")",
			permission = "@ViewData["Permission"]";
    </script>
    <environment include="Development">
        <script src="~/js/areas/misc/replacement.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/areas/misc/replacement.min.js" asp-append-version="true"></script>
    </environment>
}
